body {
    background-color: white;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    height: 50px;
}

nav a {
    padding: 40px;
    color: white;
    font-family: "futura", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
}

.headshot {
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
}

#about {
    color: black;
    font-family: "futura", sans-serif;
}

#about h1 {
    padding: 20px;
    font-weight: 200;
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 425px;
    left: 500px;
}

#about p {
   padding: 20px;
   margin-right: 200px;
   font-weight: 100;
   font-size: 15px;
   position: absolute;
   top: 500px;
   left: 500px;
}
