body {
    background-color: white;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    height: 50px;
}

nav a {
    padding: 40px;
    color: white;
    font-family: "futura", sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
}

.headshot {
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 20px;
}

#about {
    margin-top: 50px;
    color: black;
    font-family: "futura", sans-serif;
}

#about h1 {
    padding: 20px;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
}

#about p {
   margin-right: 100px;
   padding: 20px;
   font-weight: 100;
   font-size: 16px;
   line-height: 125%
}

.about-detail {
    display: flex;
}
